h1 {
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 1rem 2rem 1rem 4rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 2rem;
}

#existingCustomer {
    font-size: 0.8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
}

.customer-informations {
    background-image: url(../img/ic_user.png);
}
.installation-address {
    background-image: url(../img/ic_home.png);
}

h1 img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

#modalExistingCustomer .btn {
    font-size: 0.9rem;
	padding: 0.75rem 3rem;
	letter-spacing: 0.2rem;
}

#modalExistingCustomer input {
	margin-bottom: 1rem !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-size: 1rem !important;
}

#errorMsg {
    display: none;
    font-size: .9rem;
    margin-bottom: 1rem;
}
#errorMsg * {
    color: red !important;
}