* {
	font-family: 'Raleway' !important;
	color: white;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	overflow-x: hidden;
}
body {
	background-color: #131313;
	display: flex;
	flex-flow: column;
}
.row {
	margin: 0;
	padding: 0;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #131313;
	z-index: 10000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.1 !important;
}





/* IMAGES + SLIDER */

#imgDevice {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	background-position: center;
	background-size: cover;
	background-color: #090909;
}
#imgDevice #uploadButton {
	width: 100%;
	background: url(../img/upload-image.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50vh;
}
#imgDevice #uploadButton .button {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#imgDevice .images {
	width: 100vw;
	padding: 0;
	margin: 0;
}
#imgDevice .images div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#imgDevice .images a {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#imgDevice #btnRemoveImage {
	width: 5vh;
	height: 5vh;
	position: absolute;
	right: 1.25vh;
	top: 1.25vh;
	background: url(../img/ic_close.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
#imgDevice #slider {
	position: absolute;
	display: flex;
	top: 15%;
	right: 0;
	width: 50%;
	height: 70%;
	background-color: #151515;
	transform: translateX( calc(100% - 10.5vh) );
}
#imgDevice #slideToggle {
	width: 10.5vh !important;
	height: 100%;
	cursor: pointer;
	background-image: url(../img/slideToggle-closed.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}
#imgDevice #slideContent {
	width: calc(100% - 10.55vh);
	white-space: nowrap;
}
#imgDevice #slideContent h3 {
	font-size: 2.5vh;
	color: white;
	margin: 0;
	padding: 2.5vh 2.5vh 5vh 2.5vh;
	font-weight: bold;
	letter-spacing: 0.3vh;
	white-space: nowrap;
}
#imgDevice #slideContent h4, h5 {
	font-size: 2.5vh;
	color: white;
	padding: 1vh 1vh 1vh 2.5vh;
	margin: 0;
	letter-spacing: 0.3vh;
	white-space: nowrap;
}
#imgDevice #slideContent h5 {
	padding-left: 5vh;
	color: gray;
	white-space: nowrap;
}
#imgDevice #slideContent a {
	text-decoration: none;
	white-space: nowrap;
}
.slide-in  {
	animation: slide-in 0.5s forwards;
}
.slide-out {
	animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
	100% { transform: translateX(0%); }
}
@keyframes slide-out {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(calc(100% - 10.5vh)); }
}



/* INFO PANELS */

#infoPanels {
	position: relative;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
}
.table-card {
	border: 0.3vh solid #333333;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.table-card div {
	margin: 4vh 0 5vh 0;
}
img.img-x {
	height: 3.5vh;
}
.table-card div h4.name {
	padding: 1vh 0;
	color: white;
	margin: 0 1vh;
	font-size: 2.5vh;
	letter-spacing: 0.3vh;
}
.sm-under {
	width: 3vh;
	height: 0.3vh;
	align-self: center;
	background-color: #87d403;
	margin: 0 auto 1.5vh auto !important;
	display: block;
}
.table-card div h4.data {
	color: #7b7b7b;
	margin: 0;
	font-size: 2.5vh;
}

#infoPanels #textBox {
	background-color: rgba(19, 19, 19, 0.9);
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	overflow: hidden;
}
#infoPanels #textBox textarea {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	width: 100%;
	height: 100%;
	padding: 5vh;
	font-size: 2.5vh;
	color: white;
}
#infoPanels #btnClose {
	display: none;
	width: 5vh;
	height: 5vh;
	position: absolute;
	right: 1.25vh;
	top: -6.25vh;
	background: url(../img/ic_close.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
#infoPanels #btnSave {
	display: none;
	height: 5vh;
	width: 8.91vh;
	position: absolute;
	right: 7.5vh;
	top: -6.25vh;
	background: url(../img/ic_save.png);
	background-position: center;
	background-size: contain;
	cursor: pointer;
}





/* PORTRAIT SCREEN STYLE */
@media (orientation: portrait) {
	#imgDevice #slider {
		width: 85%;
	}
}