* {
	font-family: 'Raleway' !important;
	color: white;
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #131313;
}
.row {
	margin: 0;
	padding: 0;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #131313;
	z-index: 10000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
	line-height: 1.1 !important;
	margin: 0 !important;
}










/*
	LEFT-SIDE DRAWER
*/

.navmenu-fixed-left {
	width: 100vw;
	border: 0;
	background-color: #151515;
}

/* TOP LINE -> DeviceName + Settings */
.navmenu-fixed-left #device-name {
	line-height: 6vh !important;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0 6vh;
	color: white;
	font-size: 2.5vh;
	letter-spacing: 0.1vh;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.navmenu-fixed-left #settings {
	position: absolute;
	top: 0;
	right: 0;
	width: 6vh;
	height: 6vh;
	padding: 1.5vh;
	cursor: pointer;
}

/* MIDDLE SECTION -> Logos & Buttons Container */
.navmenu-fixed-left .wrap {
	width: 100%;
	height: 89vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navmenu-fixed-left .wrap:first-child { height: 100vh; }
.navmenu-fixed-left .wrap .menu-container { width: 100%; }

/* Live&Smart Logo */
.navmenu-fixed-left .logo-livesmart { /* Live&Smart Logo */
	width: 100%;
	height: 4.5vh;
}

/* Large X Logo */
.navmenu-fixed-left .logo {
	width: auto;
	height: 10vh;
	margin: 10vh 0;
	cursor: pointer;
}

/* Buttons */
.navmenu-fixed-left button {
	display: block;
	background-color: #151515;
	border: none;
	outline: none;
	cursor: pointer;
	margin: auto;
}
.navmenu-fixed-left h4 {
	margin: 0;
	padding: 0;
	color: #515151;
	font-size: 3.5vh;
	letter-spacing: 0.75vh;
}
.navmenu-fixed-left h4.active { color: white; }

/* Divider Under Buttons */
.navmenu-fixed-left .sm-under {
	width: 3vh;
	height: 0.3vh;
	align-self: center;
	background-color: #87d403;
	margin: 1.5vh auto 3vh auto !important;
	display: block;
}

/* BOTTOM LINE -> Username or Serialnumber */
.navmenu-fixed-left .account-type-field {
	line-height: 5vh !important;
	width: 100%;
	margin: 0;
	padding: 0;
	color: gray;
	font-size: 2vh;
	letter-spacing: 0.1vh;
	text-align: center;
}





/*
	MAIN VIEW - MIDDLE
*/

#middle {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
}

/* NAVIGATION BAR */
.navigation {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
}
.navigation button {
	background-color: #131313;
	border: none;
	outline: none;
	cursor: pointer;
}
.navigation .hamburger {
	width: auto;
	height: 2.25vh;
	margin: 4.5vh;
	float: left;
}
.navigation .dashboard {
	width: auto;
	height: 3.25vh;
	margin: 4.25vh;
	float: left;
	cursor: pointer;
}
.navigation .logo {
	width: auto;
	height: 4.5vh;
	margin: 1.5vh 0 0.75vh 0;
	cursor: pointer;
}
.navigation .title {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 3vh;
	letter-spacing: 0.75vh;
}
.navigation .sm-under {
	width: 3vh;
	height: 0.3vh;
	align-self: center;
	background-color: #87d403;
	margin: 0.75vh auto 1.5vh auto !important;
	display: block;
}
.navigation .notification {
	width: auto;
	height: 3vh;
	margin: 4.5vh;
	float: right;
	cursor: pointer;
}
.navigation .button-badge {
	display: none;
	font-size: 1.5vh;
	background-color: #212121;
	position: absolute;
	top: 3vh;
	right: 3vh;
	border-radius: 1vh;
	width: 3vh;
	font-family: sans-serif !important;
	text-align: center;
	cursor: pointer;
	color: orange;
	border: 0.25vh solid #212121;
	border-color: orange;
	line-height: 2.5vh;
	min-height: 2.5vh;
	padding: 0;
	margin: 0;
}

/* IFRAME */
#frame {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	border: 0;
}

/* USERS|DEVICES LIST */
.list-container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	border: 0;
	overflow: auto;
}
.list-item {
	background: #1b1b1b;
	border: 0;
	border-left: 0.3vh solid #87d403;
	margin: 2vh 2vh;
	padding: 3vh;
	cursor: pointer;
}
.list-item-name {
	float: left;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 2.5vh;
	letter-spacing: 0.3vh;
	text-align: left;
	cursor: pointer;
}
.deletetab {
	float: right;
	margin: 0;
	padding: 0;
	color: gray;
	font-size: 2.5vh;
	cursor: pointer;
}

/* BOTTOM NOTIFICATION BAR */
.notifbar {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	border-top: 0.3vh solid #333333;
	padding: 0;
	margin: 0;
	display: none;
}
.notifbar div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.5vh 2.5vh;
}
.notifbar .notifbar-icon {
	height: 3vh;
	margin-right: 1.5vh;
}
.notifbar h4 {
	color: red;
	margin: 0;
	font-size: 2.5vh;
}

/* RIGHT-SIDE DRAWER */
.navmenu-fixed-right {
	left: auto !important;
	width: 100vw;
	border: 0;
	background-color: #151515;
}
.navmenu-fixed-right #btnPinToView {
	position: absolute;
	top: 0;
	right: 0;
	width: 6vh;
	height: 6vh;
	padding: 1.5vh;
	cursor: pointer;
}
.navmenu-fixed-right .logo {
	width: auto;
	height: 4.5vh;
	margin: 1.5vh 0 0.75vh 0;
}
.navmenu-fixed-right .title {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 3vh;
	letter-spacing: 0.75vh;
}
.navmenu-fixed-right .sm-under {
	width: 3vh;
	height: 0.3vh;
	align-self: center;
	background-color: #87d403;
	margin: 0.75vh auto 1.5vh auto !important;
	display: block;
}
.navmenu-fixed-right .img-under {
	width: auto;
	height: 0.25vh;
	margin: 0.5vh 0 2.5vh 0;
}
.navmenu-fixed-right .wrap {
	width: 100%;
	padding: 5%;
	padding-top: 0;
}

.navmenu-fixed-right #notif-active,	
.navmenu-fixed-right #notif-lastupdate {
	width: 90%;
	margin: 0 5% 5% 5%;
	padding: 2.5%;
	border: 0.3vh solid gray;
	border-radius: 8px !important;
}
.navmenu-fixed-right #notif-lastupdate.fault {
	border-color: red;
	background-color: black;
}
.navmenu-fixed-right #notif-lastupdate.fault * {
	color: red;
}

.navmenu-fixed-right .wrap .notif-head {
	display: flex;
	align-items: center;
}
.navmenu-fixed-right .wrap .notif-head-active {
	display: flex;
	align-items: center;
	padding: 0.75vh 0;
	color: gray;
}
.navmenu-fixed-right .wrap .notif-head-active h4 {
	color: gray;
	width: 100%;
	font-size: 2.25vh;
	padding: 0;
	text-align: center;
	letter-spacing: 0.15vh;
}
.navmenu-fixed-right .wrap .notif-circle {
	width: 2.5vh;
	height: 2.5vh;
	padding: 0.2vh;
}
.navmenu-fixed-right .wrap h4 {
	width: calc(90% - 5vh);
	margin: auto 0;
	padding: 0 0 0 5%;
	color: white;
	font-size: 2.25vh;
	letter-spacing: 0.3vh;
	text-transform: uppercase;
}
.navmenu-fixed-right .wrap .notif-bar {
	background-color: gray;
	width: 0.3vh;
	margin: 0.75vh 1vh 0.75vh 1vh;
}
.navmenu-fixed-right .wrap .notif-desc {
	width: 90%;
	margin: 0;
	padding: 0;
	padding-left: 5%;
	margin-bottom: 2.5vh;
	color: gray !important;
	font-size: 2vh;
	letter-spacing: 0.15vh;
}
.navmenu-fixed-right .wrap .notif-desc * {
	color: gray !important;
}
.navmenu-fixed-right .wrap .img-under {
	margin: 0;
}
.navmenu-fixed-right .wrap .time {
	display: inline;
	margin: auto 0;
	font-size: 1.75vh;
	padding-left: 1vh;
}










/* LANDSCAPE-ONLY SCREEN STYLE */

@media (orientation: landscape) {
	
	/* Left-Side Drawer */
	#slider-left {
		width: 25vw;
		border-right: 0.3vh solid #87d403;
		background-color: #151515;
	}
	
	/* Middle-Main Section */
	#middle {
		width: 75vw;
		padding: 0;
		margin: 0 0 0 25vw;
	}
	
	/* Right-Side Drawer */
	#slider-right {
		width: 25vw;
		border-left: 0.3vh solid #87d403;
		background-color: #151515;
	}
	
	/* Middle-Main Section when Right-Side Drawer is Fixed */
	#middle.full-view { width: 50vw; }
	#middle.full-view #btnNotification { display: none; }
	
}



/* PORTRAIT-ONLY SCREEN STYLE */

@media (orientation: portrait) {
	.hidden-port { display: none !important; }
}



/* HELP CLASSES */

.hide { display: none; }





/* BACK BUTTON */
.back {
	display: inline-block;
	padding: 1vh 2.5vh 1vh 2vh;
	margin: 0;
	font-size: 2vh;
	letter-spacing: 0.1vh;
	color: white;
	cursor: pointer;
	background: #010202;
	border-bottom-right-radius: 2.5vh;
}
.back:hover {
	text-decoration: none;
	color: #87d403;
}










/* UPDATE AVAILABLE */

#update-available {
	border: 0.3vh solid red;
	margin: 0 5% 5% 5%;
	width: 90%;
	display: flex;
	border-radius: 100vh;
	justify-content: center;
	background: black;
	cursor: pointer;
}
#update-available img {
	width: 3vh;
	height: 3vh;
	margin: 2vh 2vh 2vh 0;
	display: inline-block;
}
#update-available span {
	display: inline-block;
	color: red;
	font-size: 2.5vh;
	line-height: 7vh;
}

#modal_update { z-index: 10000; }
#modal_update .modal-dialog {
	min-width: 80vw;
}
#modal_update .modal-content {
	background: transparent;
	width: 80vw;
	border: 0;
	border-radius: 0 !important;
	margin-left: auto;
	margin-right: auto;
}
#modal_update .modal-content > div {
	background: #212121;
	border: 0;
	border-radius: 8px !important;
	margin-left: auto;
	margin-right: auto;
	padding: 5vh;
}
.modal-backdrop {
	z-index: 9990;
}
#modal_update h4 {
	font-size: 2.5vh;
	text-align: center;
	margin-bottom: 1.25vh !important;
}
#modal_update p {
	text-align: center;
	font-size: 2.25vh;
	margin-bottom: 1.25vh !important;
}
#modal_update p:last-child {
	margin-bottom: 0 !important;
}
#modal_update .sm-under {
	width: 3vh;
	height: 0.3vh;
	align-self: center;
	background-color: #87d403;
	margin: 2.25vh auto 3vh auto !important;
	display: block;
}