* { user-select: none }

.container {
	text-align: center;
	padding: 0;
}

.container > div {
	width: 100%;
}

h1 {
	font-size: 6vmin;
	margin-top: 26.5vmin;
	margin-bottom: 7.5vmin;
}

input {
	width: 50vmin !important;
	height: 6vmin !important;
	margin-bottom: 2.5vmin !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-size: 2.5vmin !important;
	text-align: center;
}

#btnLogin {
	font-size: 2vmin;
	padding: 1.5vmin 10vmin;
	letter-spacing: 0.3vmin;
}

#errorMsg {
	display: block;
	height: 5vmin;
	font-size: 2vmin;
	visibility: hidden;
}
#errorMsg {
	color: red !important;
	font-weight: 600;
}