html, body {
	height: 100vh;
}
body {
	background-color: #131313;
	padding: 7vh 7vw;
}
* {
	font-family: 'Raleway' !important;
	color: white;
	padding: 0;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #131313;
	z-index: 10000;
}










/*
	Containers Styling
*/

.container-top,
.container-middle,
.container-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container-spacing-vertical {
	position: relative;
	height: 7vh;
}

.container-spacing-horizontal {
	position: relative;
	width: 8%;
}

.container-block {
	height: 24vh;
	flex-grow: 1;
}

.container-middle .container-block {
	width: 72%;
	flex-grow: 0;
}










/*
	Blocks Styling
*/

.container-block .block-card {
	height: 100%;
	box-sizing: border-box;
	border-bottom: 0.3vh solid #87d403;
	background-color: #212121;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5vh 0.5vh 0 0;
	cursor: pointer;
}

.container-block .block-card > div {
	position: relative;
	height: 100%;
	padding-top: 2.5vh;
}

.container-block .block-card > div .img-label,
.container-block .block-card > div .img-plus,
.container-block .block-card > div .power {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.container-block .block-card > div .img-label {
	top: 0;	left: 0; right: 0;
	height: 17vh;
	width: 10vmin;
	margin: 0 auto;
}
.container-block .block-card > div .img-plus {
	top: 1vh; right: 1vh;
	height: 5vmin;
	width: 5vmin;
	background-image: url(../img/plus.png);
}
.container-block .block-card > div .power {
	bottom: 0;
	height: 7vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	line-height: 7vh;
	font-size: 4vmin;
	letter-spacing: 0.2vmin;
}

#extsol  .block-card { background-image: url(../img/bg-solar.png);    }
#solar   .block-card { background-image: url(../img/bg-solar.png);    }
#battery .block-card { background-image: url(../img/bg-battery.png);  }
#device  .block-card { background-image: url(../img/device-h5.png);   }
#grid    .block-card { background-image: url(../img/bg-grid.png);     }
#house   .block-card { background-image: url(../img/bg-load.png);     }
#load    .block-card { background-image: url(../img/bg-load.png);     }

#extsol  .img-label  { background-image: url(../img/img-solar.png);   }
#solar   .img-label  { background-image: url(../img/img-solar.png);   }
#battery .img-label  { background-image: url(../img/img-battery.png); }
#grid    .img-label  { background-image: url(../img/img-grid.png);    }
#house   .img-label  { background-image: url(../img/img-house.png);    }
#load    .img-label  { background-image: url(../img/img-load.png);    }

/* Device Model Changes */

.bx_h3  #device .block-card { background-image: url(../img/device-h3.png);  }
.bx_h5e #device .block-card { background-image: url(../img/device-h5e.png); }
.bx_h5  #device .block-card { background-image: url(../img/device-h5.png);  }
.bx_h10 #device .block-card { background-image: url(../img/device-h10.png); }
.bx_bs  #device .block-card { background-image: url(../img/device-bs.png);  }

.bx_bs #house   .block-card { background-image: url(../img/bg-load-bs.png);  }
.bx_bs #load    .block-card { background-image: url(../img/bg-load-bs.png);  }
.bx_bs #house   .img-label  { background-image: url(../img/img-house-bs.png); }
.bx_bs #load    .img-label  { background-image: url(../img/img-load.png); }

/* Mode Changes -> sblg | sblgh | sblghe(default) */

.sblgh #extsol, .sblgh .container-top .container-spacing-horizontal:nth-child(2),
.sblg  #extsol, .sblg  .container-top .container-spacing-horizontal:nth-child(2) {
	/* Hide ExtSol */
	display: none !important;
}

.sblg #house, .sblg .container-bottom .container-spacing-horizontal:nth-child(2), .sblg .arrow-line.house-device {
	/* Hide House */
	display: none !important;
}










/*
	Arrows Styling
*/

.arrow-line {
	z-index: -1000;
	position: absolute;
	height: 7vh;
}

.arrow-line .line {
	position: absolute;
	width: 0.5vh;
	height: 7vh;
	background-color: #87d403;
}

.arrow-line .arrow {
	position: absolute;
	width: 3vh;
	height: 3vh;
	left: -1.25vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.arrow-up    { background-image: url(../img/arrow-up.png);    margin: -0.5vh 0; }
.arrow-down  { background-image: url(../img/arrow-down.png);  margin: 4.5vh 0; }
.arrow-right { background-image: url(../img/arrow-right.png); margin: 0 calc(100% - 2.5vh); }

.arrow-line.solar        { left: calc(50% - 0.25vh); }
.arrow-line.battery      { left: calc(79% - 0.25vh); }
.arrow-line.grid         { left: calc(21% - 0.25vh); }
.arrow-line.load         { left: calc(79% - 0.25vh); }
.arrow-line.house-device { left: calc(50% - 0.25vh); }

.arrow-line.house-emeter {
	height: auto;
	width: 100%;
	top: calc(50% - 0.25vh);
}
.arrow-line.house-emeter .line {
	width: 100%;
	height: 0.5vh;
	background-color: #87d403;
}
.arrow-line.house-emeter .arrow {
	left: 0;
	top: -1.25vh;
}

/* Mode Changes -> sblg | sblgh | sblghe(default) */

.sblgh .arrow-line.solar   { left: calc(30% - 0.25vh); }
.sblg  .arrow-line.solar   { left: calc(30% - 0.25vh); }

.sblgh .arrow-line.battery { left: calc(70% - 0.25vh); }
.sblg  .arrow-line.battery { left: calc(70% - 0.25vh); }

.sblg  .arrow-line.grid    { left: calc(30% - 0.25vh); }

.sblg  .arrow-line.load    { left: calc(70% - 0.25vh); }










/*
	Hiding Blocks + Arrows
*/

.hide_extsol #extsol {
	visibility: hidden;
}

.hide_solar #solar,
.hide_solar .arrow-line.solar {
	visibility: hidden;
}

.hide_battery #battery,
.hide_battery .arrow-line.battery {
	visibility: hidden;
}

.hide_grid #grid,
.hide_grid .arrow-line.grid,
.hide_grid .arrow-line.house-emeter {
	visibility: hidden;
}

.hide_house #house,
.hide_house .arrow-line.house-emeter,
.hide_house .arrow-line.house-device {
	visibility: hidden;
}

.hide_load #load,
.hide_load .arrow-line.load {
	visibility: hidden;
}















/*
	Modals Styling
*/

.modal-content {
	background: transparent;
	border: 0;
	border-radius: 0 !important;
	width: 60vmin;
	margin-left: auto;
	margin-right: auto;
}

.modal-backdrop.show { opacity: 0.9 !important; }

/* Modal Head */

.modal-content .card-img {
	width: 100%;
	background-color: #212121;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
}
.modal-content .card-img div {
	width: 10vh;
	height: 10vh;
	margin: 2.5vh auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.modal-content .card-title {
	height: 7vh;
	width: 100%;
	margin: 0;
	background-color: #111111;
	text-align: center;
	line-height: 7vh;
	font-size: 3vh;
	letter-spacing: 0.2vh;
	border-bottom: 0.3vh solid #87d403;
}

/* Modal Data */

.modal-content .data {
	background: #212121;
	padding: 3vmin 4vmin;
}
.modal-content .data > div {
	display: flex;
	padding: 1vmin 0;
}
.modal-content .data span {
	font-size: 3vh;
	letter-spacing: 0.2vmin;
}
.modal-content .data span:first-child { flex-grow: 1; }
.modal-content .value { color: #87d403; }

/* Modal Navigation Bar */

.modal-content .nav {
	display: flex;
	width: 100%;
	height: 7vh;
	line-height: 7vh;
	margin: 0;
	background-color: #212121;
	letter-spacing: 0.2vh;
	font-size: 2.5vh;
}
.modal-content .nav span {
	background: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
}
.modal-content .nav span.active {
	background: none;
}
.modal-content h6 {
	line-height: 5vh;
	margin: 0;
	padding: 2vh 0 0 0;
	background-color: #212121;
	text-align: center;
	letter-spacing: 0.2vh;
	font-size: 2.5vh;
}

#modal_extsol  .card-img { background-image: url(../img/bg-solar.png);   }
#modal_solar   .card-img { background-image: url(../img/bg-solar.png);   }
#modal_battery .card-img { background-image: url(../img/bg-battery.png); }
#modal_device  .card-img { background-image: url(../img/device-h5.png);  }
#modal_grid    .card-img { background-image: url(../img/bg-grid.png);    }
#modal_house   .card-img { background-image: url(../img/bg-load.png);    }
#modal_load    .card-img { background-image: url(../img/bg-load.png);    }

#modal_extsol  .card-img div { background-image: url(../img/img-solar.png);   }
#modal_solar   .card-img div { background-image: url(../img/img-solar.png);   }
#modal_battery .card-img div { background-image: url(../img/img-battery.png); }
#modal_grid    .card-img div { background-image: url(../img/img-grid.png);    }
#modal_house   .card-img div { background-image: url(../img/img-house.png);    }
#modal_load    .card-img div { background-image: url(../img/img-load.png);    }

/* Device Model Changes */

.bx_h3  #modal_device .card-img { background-image: url(../img/device-h3.png);  }
.bx_h5e #modal_device .card-img { background-image: url(../img/device-h5e.png); }
.bx_h5  #modal_device .card-img { background-image: url(../img/device-h5.png);  }
.bx_h10 #modal_device .card-img { background-image: url(../img/device-h10.png); }
.bx_bs  #modal_device .card-img { background-image: url(../img/device-bs.png);  }

       #modal_house .card-img div  { background-image: url(../img/img-house.png);    }
.bx_bs #modal_house .card-img div  { background-image: url(../img/img-house-bs.png); }
       #modal_load  .card-img div  { background-image: url(../img/img-load.png);    }
.bx_bs #modal_load  .card-img div  { background-image: url(../img/img-load.png); }

       #modal_house .card-img { background-image: url(../img/bg-load.png);     }
.bx_bs #modal_house .card-img { background-image: url(../img/bg-load-bs.png);  }
       #modal_load  .card-img { background-image: url(../img/bg-load.png);     }
.bx_bs #modal_load  .card-img { background-image: url(../img/bg-load-bs.png);  }

/* System Modal */

#progressBar {
	position: relative;	
	margin: 0 auto;
	width: 17vmin;
	height: 17vmin;
	border: 0.25vh solid #5a5a5a;
	border-radius: 100%;
	padding: 0.5vh;
	margin-bottom: 2vh;
}
.progressbar-text { font-size: 5vmin; }

.bx_bs .home     { display: none  !important; }
.bx_bs .business { display: block !important; }










/* Helper Classes */

.hide { visibility: hidden !important; }
