*:not(input):not(select):not(textarea) { user-select: none }



h1 {
	font-size: 1.5rem;
	margin-top: 3rem;
	padding: 1.5rem 0rem 1.5rem 3rem;
	margin-bottom: 1.5rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 2rem;
}

#solar   h1 { background-image: url(../img/ic_solar.png  ); }
#battery h1 { background-image: url(../img/ic_battery.png); }
#bxHome  h1 { background-image: url(../img/ic_bxHome.png ); }



.w-65 { width: 65% !important; }



.setting-progress span {
	font-size: 1.25rem;
	margin-left: 1rem;
}


textarea {
	font-size: 0.875rem !important;
	min-height: 107px !important;
}



form {
	padding-bottom: 4.5rem;
}



#btnInstallerMemo {
	letter-spacing: 1px;
}