* { user-select: none }



h1 {
	font-size: 2.5rem;
	margin-top: 3rem;
	padding: 1.5rem 0;
	margin-bottom: 1.5rem;
}

.container {
	padding-bottom: 4.5rem;
}



.notif {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 1.5rem;
}

.status span {
	font-size: 1.25rem;
	font-weight: 600;
}

.status span span {
	font-size: 1rem;
	display: block;
	color: red;
}



#log {
	max-height: 50vh;
	height: 50vh;
	overflow: auto;
	box-shadow: inset 0 0rem 1rem rgba(0,0,0,.15) !important;
}

#log p {
	margin-bottom: 0.5rem !important;
	padding-left: 1rem !important;
}
#log p:last-child {
	margin-bottom: 1rem !important;
}

#log p.head {
	padding-left: 0 !important;
	padding-top: 1rem !important;
}