* { user-select: none }



.container {
	text-align: center;
	padding: 0;
}

.container > div {
	width: 100%;
}



.notif {
	display: inline-block;
	width: 4.5vmin;
	height: 4.5vmin;
}



#inverterUnknown h1 {
	font-size: 6vmin;
	margin-top: 32.5vmin;
	margin-bottom: 15vmin;
}

#inverterUnknown  .message,
#inverterDetected .standard {
	display: block;
	font-size: 3vmin;
	margin-left: 2vmin;
}



.serialnumber {
	display: block;
	font-size: 3vmin;
	margin-bottom: 5vmin;
}



#inverterDetected {
	display: none;
}

#inverterDetected h1 {
	font-size: 6vmin;
	margin-top: 15vmin;
	margin-bottom: 7.5vmin;
}

#inverterDetected img {
	width: 25vmin;
	height: 25vmin;
	margin-bottom: 7.5vmin;
}

#btnApplyVDE4105 {
	font-size: 1.5vmin;
	padding: 1vmin 2vmin;
	letter-spacing: 0.2vmin;
	margin-top: 2vmin;
	font-weight: bold;
}

#inverterDetected h1 span {
	color: #92e503;
}

.vde-loading {
	width: 4.5vmin;
	height: 4.5vmin;
	margin-top: 5vmin;
}