* { user-select: none }

h1 {
	font-size: 1.5rem;
	margin-top: 3rem;
	padding: 1.5rem 0rem 1.5rem 3rem;
	margin-bottom: 1.5rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 2rem;
}
#solar h1 {
	background-image: url(../img/ic_solar.png);
}
#battery h1 {
	background-image: url(../img/ic_battery.png);
}
#bxHome h1 {
	background-image: url(../img/ic_bxHome.png);
}

.w-65 {
	width: 65% !important;
}



.loading {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	border: 0.25rem solid #b2b2b2;
	border-radius: 50%;
	border-top-color: #000000;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	margin-right: 1rem;
}

@keyframes spin { to { transform: rotate(360deg); } }

.error, .success {
	display: none;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.error   { background-image: url(../img/ic_error.png) }
.success { background-image: url(../img/ic_success.png) }


.setting-progress span {
	font-size: 1.25rem;
}


textarea {
	font-size: 14px !important;
	min-height: 94px !important;
}