html {
	background-color: #111111;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

body {
	min-height: 100vh;
	padding-top: 4rem;
	background: transparent;
}

.no-scroll, .no-scroll * {
	overflow: hidden;
}





.navbar {
	box-shadow: 0 0 10px black;
	background-color: #292b2c !important;
}

.navbar, .navbar * {
	border-radius: 0 !important;
	border: 0 !important;
	font-family: 'Raleway' !important;
}

.navbar .btn-control {
	height: 38px;
	line-height: 22px;
	border-radius: 100px !important;
}

.navbar .btn-control img {
	height: 22px;
}

.navbar .btn-control:hover {
	background-color: #111111;
	line-height: 22px;
}





.container-box {
	background-color: #292b2c !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 0 !important;
}





.cursor-pointer {
	cursor: pointer !important;
}

.input-dark,
.input-dark:disabled,
.input-dark[readonly] {
	background-color: #191919;
	color: white;
	border: 1px solid black;
}
.input-dark:focus {
	background-color: #191919;
	color: white;
	border: 1px solid black;
	box-shadow: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: none;
}





.btn-inverse { 
	color: #ffffff;
	background-color: #444444 !important;
	border-color: #000000;
}
.btn-inverse:hover, 
.btn-inverse:focus, 
.btn-inverse:active, 
.btn-inverse.active, 
.open .dropdown-toggle.btn-inverse { 
	color: #ffffff;
	background-color: #333333 !important;
	border-color: #000000;
	box-shadow: none;
}





.bg-dark {
	background-color: #292b2c !important;
	color: white;
}

.bg-darker {
	background-color: #212121 !important;
	color: white;
}