html {
	background-image: url(../../img/x-logo.png);
}





.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,0.8);
	top: 0;
}

.overlay div {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}

.overlay {
	color: white;
}
